.username_view{
	font-weight:bold;
	color:red;
}

.date_view{
	font-style:italic;
}

.message_num{
	font-weight:bold;
}

body{
	background-color:silver;
	padding-left:100px;
}
.id_view{
	font-style:italic;
	color:blue;
	
}

textarea{
	width:300px;
	height:100px;
}

#thread_body{
	font-size:20px;
	height:500px;
	overflow:auto;
	border:2px dotted #0f0f0f;
}
